{% extends "layout.html" %}
{% block content %}
    {% if username %}
        <p>{{ username }}さんのマイページ</p>
        <form action="mypage" method="GET">
        所持品検索<input type="text" name="search"></br>
        検索ワード：{{ search }}
        <table>
            <th>名称</th><th>価格</th>
            {% for item in items %}
                <tr><td>{{ item[0] }}</td> <td>{{ item[1] }}</td></tr>
            {% endfor %}
        </table>
    {% else %}
        ログインしてください
    {% endif %}
    <p><a href="index">トップページ</a></p>
{% endblock %}